<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>User List</title>
</head>
<body>
<h2>전체 사용자 목록</h2>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Roles</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${userList}">
    <td th:text="${user.id}">ID</td>
    <td th:text="${user.email}">Email</td>
    <td>
      <ul>
        <li th:each="role : ${user.roles}" th:text="${role.rolename}">ROLE</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>

<br />
<a th:href="@{/admin/home}">← 관리자 홈으로</a>
</body>
</html>